*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.head1{
    width: 100%;
    height: 5vh;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-between;
}
.left1{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mb{
    width: 60%;
    height: 80%;
    line-height: 5vh;
    color: aliceblue; 
    text-align:center;
    font-weight:lighter;
    font-size:12px;
    border-right: 1px solid gray;

}
.deli{
    width: 40%;
    height: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
}
.right1{
    width: 31%;
    height: 100%;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}
.list1{
    width: 100%;
    height: 100%;
}
.list1 ul{
    margin-top: 1%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}
.list1 li{
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: 1px solid white;
}
.head2{
    width: 100%;
    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0;
    z-index: 5;
}
.log1{
    width: 20%;
    height: 100%;
    text-align: center;
}
.list2{
    width: 39%;
    height: 100%;
}
.list2 ul {
    height: 100%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items:center;
    color: black;
    font-size: 14px;
    
}
.list2 li{
    margin-right: 9px;
}
.list2 li:hover{
    text-decoration: underline red;
    text-underline-offset: 3px;
}
.search1{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.search2{
    width: 80%;
    display: flex;

    align-items: center;
    border-bottom: 1px solid black;
}
.sicon{
    width: 15%;
    height: 100%;
}
.stext{
    width: 80%;
    height: 100%;
    font-size: 17px; 
    color: rgb(14, 44, 194); 
}
.sicon img{
    width: 90%;
}
.express{
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.expp{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: left;
    background-color: rgb(233, 233, 4);
    border-radius: 25px;
}
.log2{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.log2 img{
    width: 100%;
    height: 80%;
}
.eds{
    width: 80%;
    display: flex;
    align-items: center;
}
.adi{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: right;
}
.log3{
    width: 50%;
    height: 100%;
}
.log3 img{
    width:100%; 
    height: 100%;
}
.carou{
    width: 100%;
    height: 90vh;
}
.card1{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 3%;
}
.cards1{
    width: 15%;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(11, 11, 88);
}
.cimg1{
    text-align: center;
    height: 77%;
}
.yellow{
    width: 100%;
    height: 29vh;
    background-color: rgb(245, 228, 144);
    display: flex;
    justify-content: center;
    align-items: center;
}
.yel{
    width:80%;
    height: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.yel1{
    width: 40%;
    height: 90%;
}
.yel1 h1{
    font-size: 27px;
    color: rgb(11, 11, 88);
}
.yel11{
    width: 100%;
    margin-top: 45px;
}
.yel12{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.asap{
    border: 1px dashed black;
    background-color: rgb(248, 218, 27);
    border-radius: 2px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(96, 96, 249);
    font-size: small;
    font-weight: bolder;
}
.yel2{
    width: 12%;
    height: 85%;
    margin-left: 8%;
    margin-top:3%;
}
.yel3{
    width: 20%;
    height: 85%;
    margin-left: 12%;
}
.divlog{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divlog1{
    height: 70%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    width: 100%;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
}
.disc{
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: rgb(11, 11, 88);
}
.para{
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgb(5, 5, 5);
}
.card2{
    width: 100%;
    height: 88%;
}
.card2 ul{
    width: 100%;
    height: 14%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2 li{
    font-size: 15px;
    color: rgb(14, 14, 108); 
    margin: 25px;
}
.usta{
    text-decoration: underline red;
    text-underline-offset: 8px;
}
.cards2{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 85%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    color: rgb(14, 14, 108); 
}
.cardss2{
    height: 100%;
    width: 34%;
    margin-left: 3%;
    position: relative;
    display: flex;
    justify-content: center;
}
.cimg2{
    width: 100%;
    height: 100%;
}
.ctxt2{
    position: absolute;
    height: 10%;
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
    bottom: 3%;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.container2{
    margin-top: 50px;
    width: 100%;
    height: 78vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.shir{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogo{
    width: 50%;
    height: 100%;
    position: relative;
}
.slogo img{
    position: absolute;
    width: 55%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cotw{
    position: absolute;
    top:18%;
    width: 100%;
    height: 5%;
    font-size: 15px;
}
.stxtm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 40%;
    border-radius: 8px;
    background-color: rgb(252, 250, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stx button{
    margin: 10px;
    height: 40px;
    width: 180px;
    border-radius: 8px;
    background-color: white;
    color: rgb(14, 14, 108);
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 1px 1px 4px rgb(69, 68, 68);
}
.container3{
    background-color: rgb(14, 14, 108);
    width: 100%;
    height: 100vh;
}
.gh1{
    width: 100%;
    height: 25%;
}
.gh1 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    color: yellow;
}
.gh1 ul{
    color: white;
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.gh1 li{
    margin: 30px;
}
.gh2{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: right;
}
.gh3{
    width: 90%;
    height: 100%;
}
.gcar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}
.gcard1{
    height: 100%;
    width: 60%;
    margin-right: 50px;
    color: white;
}
.gim{
    width: 24rem;
    height: 80%;
}
.gim img{
    width: 24rem;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
}
.content{
    width: 100%;
    height: 20%;
}
.content1{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.container4{
    height: 80vh;
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.container4 .content{
    color: black;
}
.fco1{
    width: 46%;
    height: 100%;
    display: flex;
    justify-content: right;
}
.fco3{
    width: 80%;
    height: 100%;
    border-radius: 25px;
}
.fco4{
    width: 100%;
    height: 80%;
}
.fco4 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.fco5{
    width: 100%;
    height: 20%;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 78);
    color: white;
    text-align: center;
}
.fco6 h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fco2{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.container5{
    height: 60vh;
    width: 100%;
    background-image: url(../img/as-image-bg_2x.jpeg);
    background-position: center;
    position: relative;
}
.almem{
    width: 35%;
    height: 75%;
    position: absolute;
    right: 8%;
    top: 14%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(14, 14, 108);
    background-color: rgb(233, 233, 4);

}
.almemmm{
    height: 70%;
    width: 80%;
}
.almem2{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.almemmm1{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}
.almemmm2{
    width: 60%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 108);
    color:rgb(233, 233, 4);
}
.samcon1{
    margin-top: 50px;
    background-color: rgb(14, 14, 108);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.sgift{
    margin-right: 15px;
}
.sbut{
    margin-left: 25px;
    width: 152px;
    height: 50px;
    border-radius: 5px;
    color: rgb(14, 14, 108);
    background-color: rgb(233, 233, 4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.samcon2{
    margin-top: 50px;
    background-color: rgb(233, 233, 4);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sam1{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.isr img{
    width: 145px;
    height: 145px;

}
.tsr{
    color: rgb(12, 12, 97);
    font-family: Arial, Helvetica, sans-serif;
}

.find{
    margin-left: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .5;
    font-size: 12px;
    font-weight: lighter;
}
.boxie{
    margin-top: 10px;
    border: 1px solid black;
    padding: 15px 125px 15px 5px;
    border-radius: 5px;
    height: 15px;
}
.boxie h3{
    font-family: Arial, Helvetica, sans-serif;
}
.rookie{
    text-decoration: underline red;
    text-underline-offset: 5px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 15px;
}
.slogo1{
    width: 10%;
    height: 100%;
    
}
.slogo1 img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.viewp{
    width: 100%;
    height: 40vh;
}
.viewp1{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vieap{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30%;
    height: 50%;
    border-radius: 8px;
    background-color: rgb(12, 12, 97);
}
.viewp2{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vieap1{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vieap2{
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 12px;
}
.samcon{
    width: 100%;
    height: 38vh;
    background-color: rgb(45, 131, 102);
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.sam{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.help{
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
 }
 .me{
     margin-top: 10px;
 }
 .me h5{
     padding-top: 5px;
 }
 .helpi{
     width: 35%;
     height: 100%;
     background-color: rgb(255, 255, 255);
  }
  .samcon h5{
    font-weight: lighter;
  }
  .helpi img{
     width: 40px;
     height: 40px;
  }
  .ikk{
     display: flex;
     justify-content: left;
     align-items: center;
     font-size: 14px;
  }
  .ikk img{
    width: 30px;
    height: 30px;
  }
  .errrr h4{
     margin-left: 50px;
     font-size: 12px;
  }
 .errrr{
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
 }
 .errrr h6{
    font-size: 13px;
    margin-right: 200px;
    color: rgb(212, 206, 206);
 }
 .social{
     margin-top: 20px;
     display: flex;
 }
 .sr{
     margin-top: 20px;
     margin-right: 25px;
     font-size: 12px;
 }
 .social ul{
    display: flex;
    align-items: center;
    list-style-type: none;
 }
 .social li{
 padding-left: 20px;
 margin-top: 15px;
 }
 .social img{
     width: 30px;
     height: 30px;
 }
 .samcon h5{
    color: rgb(150, 142, 142);
 }
.mlast{
    width: 100%;
    height: 232vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.last{
    width: 90%;
    height: 98%;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.last h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:15px 0px;
    font-size: 18px;
}
.last h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:15px 0px;
    font-size: 16px;
}
.ldiv{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.footer{
    margin-top: 10px;
    width: 100%;
    height: 1vh;
    background: linear-gradient(90deg,green,blue,black,rgb(249, 16, 148),red,orange,yellow);
}
